.App{
  text-align: center;
}
.employeeTable{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid red;
  padding: 15px;
}

.employeeTable th{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.employeeTable tr:hover{
  background-color: rgb(146, 146, 146)
}

.employeeTable tr:nth-child(even){
  background-color: #dad6d6
}

li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

nav{
  background-color: rgb(219, 142, 27);
}

